.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.balance {
  color: white;
  padding: 6px;
  border-radius: 3px;
}
.positive {
  background-color: green;
}

.negative {
  background-color: red;
}

header {
  height: 125px;
  background-color: rgba(200, 200, 200, 0.8);
  color: black;
}
.header {
  font-family: 'Playfair Display SC', serif;
}

.title {
  font-size: 60px;
  font-weight: 900;
}
.subtitle {
  font-weight: normal;
}

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10vw;
  z-index: 10;
}
.my-modal-card {
  position: fixed;
  top: 10vh;
  left: 25vw;
  width: 50vw;
  background-color: white;
  border-radius: 5px;
  z-index: 20;
  padding: 20px;
}
.my-modal-show {
  display: block;
  opacity: 1.0;
  -webkit-transition: opacity 0.5s, display 0.5s;
  transition: opacity 0.5s, display 0.5s;
}
.my-modal-closed {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s, display 0.5s;
  transition: opacity 0.5s, display 0.5s;
}
